Novelis - Data Assignment - Ajinkya Mahesh Zalkikar
06/15/2022

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pickle

In [2]:
sensor = pd.read_csv(r'/content/drive/MyDrive/data/Sensor.csv')
sensorhf = pd.read_csv(r'/content/drive/MyDrive/data/Sensor_high_freq.csv')
perref = pd.read_csv(r'/content/drive/MyDrive/data/Percent_reference.csv')

In [3]:
sensor.columns

Index(['Period Code', 'Cycle ID', 'B_2', 'B_3', 'B_4', 'B_5', 'B_9', 'B_10',
       'B_14', 'B_15', 'B_16', 'B_17', 'B_18', 'B_19', 'B_20', 'B_21', 'B_22',
       'B_23', 'B_24', 'B_25', 'Good/Bad', 'timestamp'],
      dtype='object')

In [4]:
sensor = sensor.rename(columns={'Period Code': 'Period','Cycle ID':'Cycle','Good/Bad':'Class'})

In [5]:
sensor.columns

Index(['Period', 'Cycle', 'B_2', 'B_3', 'B_4', 'B_5', 'B_9', 'B_10', 'B_14',
       'B_15', 'B_16', 'B_17', 'B_18', 'B_19', 'B_20', 'B_21', 'B_22', 'B_23',
       'B_24', 'B_25', 'Class', 'timestamp'],
      dtype='object')

In [6]:
sensor.Period.unique()

array(['1', 'start', '2', 'stop', 'Missing', 'no connection', 'Bad', '3',
       'No Data', 'I/O', '4', '5', 'no response', '6', '7', nan, '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64',
       '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75',
       '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86',
       '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97',
       '98', '99', '100'], dtype=object)

In [7]:
sensor.shape

(20631, 22)

In [8]:
for col in sensor:
  sensor = sensor[sensor[col].str.contains("Missing")==False]
  sensor = sensor[sensor[col].str.contains("No Data")==False]
  sensor = sensor[sensor[col].str.contains("start")==False]
  sensor = sensor[sensor[col].str.contains("nan")==False]
  sensor = sensor[sensor[col].str.contains("no connection")==False]
  sensor = sensor[sensor[col].str.contains("Bad")==False]
  sensor = sensor[sensor[col].str.contains("I/O")==False]
  sensor = sensor[sensor[col].str.contains("no response")==False]
  sensor = sensor[sensor[col].str.contains("stop")==False]

In [9]:
sensor.shape

(13709, 22)

In [10]:
for col in sensor:
  print(sensor[col].unique())

['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100']
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '16' '17' '18'
 '19' '22' '23' '24' '26' '27' '28' '29' '31' '33' '35' '37' '38' '39'
 '45' '46' '47' '48' '49' '50' '52' '54' '55' '56' '57' '59' '60' '61'
 '62' '63' '64' '67' '69' '70' '71' '72' '73' '75' '78' '79' '84' '85'
 '86' '88' '93' '94' '96' '97' '98' '99' '100' '101' '103' '104' '106'
 '107' '108' '109' '111' '113' '115' '116' '117' '120' '121' '122' '124'
 '125' '126' '128' '130' '132' '133' '134' '135' '137' '138' '139' '140'
 '141' '142' '143' '146' '148' '150' '151' '152' '153' '154' '155' '157'
 '159' '161' '163' '165' '168' '169' '171' '172' '175' '176' '177' '179'
 '180' '181' '182' '184' '186' '187' '188' '189' '190' '191' '192' '15'
 '21' '25' '30' '32' '34' '36' '40' '41' '42' '43' '44' '51' '53' '58'
 '66' '74' '76' '77' '80' '81' '82' '83' '89' '90' '91' '92' '102' '110'
 '112' '114' '118' '119' '127' '136' '147' '156' '158' '160' '167' '173'
 '178' '183' '185' '194' '196' '197' '198' '199' '202' '203' '204' '206'
 '207' '209' '210' '211' '212' '215' '216' '217' '219' '221' '222' '223'
 '225' '226' '227' '228' '229' '230' '231' '232' '235' '238' '240' '241'
 '242' '243' '244' '245' '247' '248' '249' '250' '252' '253' '254' '255'
 '257' '258' '259' '261' '263' '264' '265' '266' '268' '269' '272' '273'
 '275' '279' '280' '285' '286' '14' '68' '87' '131' '144' '145' '149'
 '166' '170' '174' '20' '65' '105' '162' '164' '129' '193' '201' '213'
 '218' '234' '236' '237' '246' '251' '256' '260' '267' '95' '123' '195'
 '208' '214' '239' '200' '224' '233' '205' '220' '262' '270' '271' '276'
 '274' '281' '282' '283' '277' '289' '290' '291' '292' '293' '296' '298'
 '300' '301' '302' '303' '304' '305' '306' '308' '309' '311' '312' '313'
 '278' '287' '294' '295' '297' '299' '307' '310' '315' '316' '317' '318'
 '319' '321' '322' '323' '324' '326' '327' '329' '330' '331' '333' '334'
 '335' '336' '340' '341' '342' '343' '345' '346' '349' '351' '352' '355'
 '356' '357' '359' '361' '362' '284' '288' '314' '320' '328' '337' '338']
['-0.0007' '0.0019' '-0.0043' '0.0007' '-0.0019' '0.001' '-0.0034'
 '0.0008' '-0.0033' '0.0018' '0.0016' '0.0006' '0.0002' '-0.0031' '0.0032'
 '0.0034' '-0.001' '0' '-0.0012' '-0.0024' '0.0012' '0.0014' '-0.0042'
 '0.0003' '-0.0004' '-0.0018' '-0.003' '-0.0013' '-0.0014' '-0.0032'
 '-0.0002' '0.0009' '-0.0006' '0.0004' '0.0015' '0.0017' '-0.0022'
 '-0.0005' '-0.0017' '0.004' '0.0022' '0.0005' '0.0025' '0.0029' '-0.0021'
 '0.0035' '-0.0001' '-0.0011' '-0.002' '0.0026' '-0.0023' '0.0011'
 '0.0001' '-0.0038' '0.0023' '0.0027' '-0.0047' '-0.0067' '-0.0027'
 '0.0043' '0.0024' '0.0063' '0.0037' '0.0013' '0.0042' '0.005' '0.0021'
 '-0.0035' '-0.0003' '-0.0044' '-0.0036' '-0.0037' '0.0031' '-0.0041'
 '-0.0008' '0.0044' '-0.0045' '0.0033' '-0.0026' '-0.0015' '-0.0009'
 '-0.0051' '0.0048' '-0.005' '-0.0016' '-0.0029' '-0.004' '0.002'
 '-0.0061' '-0.0064' '-0.0052' '0.0039' '0.0058' '-0.0025' '0.0051'
 '-0.0048' '0.003' '0.0028' '0.0059' '0.0041' '0.0055' '0.0038' '-0.0028'
 '0.0036' '0.0045' '0.0046' '-0.0057' '-0.0072' '-0.0053' '-0.006'
 '0.0053' '-0.0054' '0.0068' '-0.0049' '-0.0074' '0.0047' '0.0052'
 '0.0049' '-0.0039' '-0.0059' '-0.0046' '0.0064' '0.0072' '0.007'
 '-0.0055' '-0.0056' '0.0071' '0.0057' '-0.0058' '0.0061' '0.006'
 '-0.0084' '0.0056' '-0.0065' '0.0074' '0.0083' '-0.0062' '-0.0073'
 '0.0062' '-0.0069' '-0.007' '-0.0063' '-0.0081' '0.0067' '-0.0075'
 '-0.0066' '0.0087' '-0.0068' '0.0054' '0.0065' '0.0069' '-0.0087'
 '0.0077']
['-0.0004' '-0.0003' '0.0003' '0' '-0.0002' '-0.0001' '0.0001' '0.0002'
 '0.0004' '0.0005' '0.0006' '-0.0005' '-0.0006']
['100']
['518.67']
['14.62']
['21.61' '21.6']
['1.3']
['47.47' '47.49' '47.27' '47.13' '47.28' '47.16' '47.36' '47.24' '47.29'
 '47.03' '47.15' '47.18' '47.38' '47.12' '47.21' '47.4' '47.25' '47.44'
 '47.26' '47.37' '47.41' '47.31' '47.45' '47.2' '47.22' '47.07' '47.51'
 '47.39' '47.3' '47.35' '47.46' '47.48' '47.64' '47.62' '47.57' '47.34'
 '47.61' '47.58' '47.43' '47.52' '47.6' '47.55' '47.63' '47.56' '47.75'
 '47.89' '47.67' '47.59' '47.72' '47.74' '47.73' '47.76' '47.77' '47.84'
 '47.88' '48.03' '48.07' '47.86' '48.02' '47.85' '48.1' '47.98' '48.12'
 '48.23' '48' '48.08' '48.33' '48.15' '48.25' '46.93' '47.05' '47.1'
 '47.17' '47.04' '47.19' '46.99' '47.09' '47.14' '47.08' '46.98' '46.96'
 '47.33' '46.95' '47.23' '47.11' '47.06' '47.32' '47.69' '47.53' '47.71'
 '47.66' '47.65' '47.7' '47.54' '47.79' '47.95' '47.91' '47.96' '48.09'
 '48.13' '48.27' '48.14' '46.94' '47.42' '47.5' '47.78' '47.82' '47.68'
 '47.97' '47.93' '47.9' '48.16' '48.38' '47.92' '47.83' '47.8' '48.04'
 '47.01' '46.97' '47' '47.87' '48.19' '48.06' '48.26' '48.24' '48.05'
 '47.94' '48.11' '48.21' '47.81' '48.3' '48.35' '47.99' '48.17' '46.88'
 '47.02' '48.28' '48.22' '48.01' '48.32' '46.92' '48.2' '48.18' '48.41'
 '48.53' '48.52' '48.34' '48.29' '48.31' '48.4' '48.37' '46.86' '46.91'
 '48.43' '48.39' '48.48']
['521.66' '522.28' '522.42' '522.86' '522.19' '521.68' '522.32' '522.47'
 '521.79' '521.4' '521.8' '521.85' '521.49' '521.89' '521.76' '522'
 '521.52' '522.13' '522.57' '522.41' '521.95' '521.91' '521.75' '522.29'
 '522.23' '521.73' '522.02' '521.84' '521.37' '522.33' '522.1' '522.44'
 '522.11' '522.48' '521.62' '521.32' '522.49' '522.34' '521.56' '521.82'
 '522.64' '522.22' '521.93' '521.72' '521.97' '522.04' '521.77' '521.54'
 '522.3' '522.2' '521.43' '521.61' '521.67' '522.31' '521.42' '521.55'
 '521.41' '522.38' '521.51' '521.53' '521.36' '521.6' '521.22' '521.34'
 '521.3' '520.92' '521.57' '521.35' '521.96' '521.64' '521.23' '520.99'
 '521.63' '521.03' '521.27' '521.06' '520.44' '520.98' '521.13' '521.08'
 '520.5' '520.94' '520.39' '520.69' '520.72' '520.65' '520.47' '520.3'
 '520.78' '519.85' '520.54' '520.38' '519.8' '520.24' '519.84' '520.43'
 '520.46' '519.77' '520.08' '519.53' '519.79' '519.58' '520.04' '519.57'
 '522.7' '522.58' '522.27' '522.8' '522.14' '522.77' '522.71' '522.26'
 '522.25' '522.68' '522.43' '522.54' '522.69' '522.79' '522.87' '522.9'
 '522.73' '521.98' '522.24' '521.78' '522.15' '522.65' '522.21' '522.17'
 '522.95' '522.08' '522.36' '523.26' '522.62' '523.13' '522.75' '522.63'
 '522.45' '522.74' '522.92' '522.5' '522.4' '522.05' '522.18' '522.39'
 '521.86' '522.61' '522.06' '521.09' '521.92' '521.47' '521.5' '522.01'
 '521.33' '521.74' '521.02' '521.29' '521.46' '520.84' '521.59' '521.28'
 '521.18' '520.9' '521.1' '521.05' '520.6' '520.61' '520.49' '520.7'
 '520.37' '519.98' '520.83' '520.85' '520.95' '520.79' '520.52' '521.04'
 '520.27' '520.93' '519.74' '520.56' '519.72' '520' '519.66' '519.91'
 '519.51' '522.16' '521.87' '522.07' '521.69' '522.37' '522.67' '522.53'
 '521.88' '521.81' '522.72' '522.6' '521.48' '522.09' '521.94' '521.44'
 '521.7' '521.16' '521.11' '520.48' '520.75' '520.19' '520.62' '520.25'
 '520.02' '520.34' '520.91' '520.14' '521.9' '522.35' '521.71' '521.65'
 '522.12' '521.99' '521.39' '521.2' '521.58' '521.38' '520.97' '521.19'
 '521.24' '520.77' '520.28' '520.33' '520.55' '520.17' '520.07' '519.6'
 '520.12' '522.85' '522.96' '522.89' '522.78' '522.03' '522.46' '523.04'
 '522.81' '522.76' '522.66' '522.84' '521.83' '520.88' '521' '521.17'
 '520.67' '520.86' '520.41' '520.64' '521.14' '521.07' '520.01' '520.36'
 '520.57' '520.42' '519.88' '520.59' '520.06' '520.05' '519.83' '519.86'
 '521.25' '520.89' '521.12' '520.8' '521.45' '521.21' '521.01' '521.15'
 '521.26' '520.81' '521.31' '520.73' '520.74' '520.66' '520.87' '520.53'
 '520.96' '520.76' '520.22' '520.51' '519.93' '520.29' '520.23' '519.41'
 '519.7' '519.37' '519.5' '519.03' '522.55' '522.52' '523' '522.51'
 '522.88' '520.45' '519.61' '520.26' '520.15' '519.54' '519.47' '520.21'
 '519.65' '519.06' '519.1' '520.82' '520.71' '520.68' '520.58' '520.13'
 '520.16' '519.78' '519.97' '519.92' '519.87' '519.31' '523.03' '522.82'
 '522.59' '523.07' '523.02' '522.56' '522.91' '520.11' '520.35' '520.09'
 '519.95' '519.22' '520.18' '520.63' '519.94' '519.64' '519.36' '519.25'
 '519.32' '519.55' '520.1' '520.2' '519.81' '519.89' '522.94' '523.06'
 '522.98' '522.99' '522.83' '519.96' '519.71' '519.67' '520.4' '519.99'
 '519.48' '519.4' '519.63' '519.29' '519.44' '522.97' '519.26' '523.2'
 '520.32' '519.62' '519.76' '519.52' '519.82' '519.45' '519.28' '519.35'
 '519.3' '519.46' '520.31' '519.2' '519.43' '520.03' '518.95' '519.75'
 '523.08' '519.68' '519.9' '519.23' '523.27' '523.23' '519.38' '519.69'
 '519.34' '519.17' '519.73' '519.56' '519.24' '523.09' '519.49' '519.02'
 '519.33' '518.94' '519.07' '523.21' '523.1' '518.99' '519.09' '523.12'
 '519.15' '519.12' '522.93' '523.14' '519.39' '519.19' '518.83' '519.13'
 '523.01' '519.14']
['2388.02' '2388.07' '2388.03' '2388.08' '2388.04' '2388.05' '2388.06'
 '2388.01' '2388.13' '2388.09' '2388.1' '2388.12' '2388.11' '2388.16'
 '2388.14' '2388.18' '2388.15' '2388.21' '2388.22' '2388.19' '2388.17'
 '2388.23' '2388.2' '2388.24' '2388.26' '2388.28' '2388.25' '2388.33'
 '2388.35' '2388.3' '2388.32' '2387.98' '2387.99' '2387.94' '2387.96'
 '2387.95' '2387.97' '2388' '2387.93' '2387.92' '2388.27' '2388.29'
 '2388.31' '2387.89' '2387.88' '2388.39' '2388.36' '2387.91' '2388.37'
 '2388.34' '2388.49' '2387.9']
['8138.62' '8131.49' '8133.23' ... '8128.8' '8130.99' '8146.01']
['8.4195' '8.4318' '8.4178' ... '8.5425' '8.5518' '8.5389']
['0.03']
['392' '390' '393' '391' '394' '396' '395' '397' '398' '389' '399' '388'
 '400']
['2388']
['100']
['39.06' '39' '38.95' '38.88' '38.9' '38.98' '39.1' '38.97' '39.05'
 '38.94' '38.93' '38.81' '38.89' '38.8' '38.92' '38.86' '38.99' '39.01'
 '38.83' '39.13' '38.7' '38.79' '38.85' '38.96' '38.68' '38.84' '39.03'
 '38.77' '38.73' '38.82' '38.75' '38.69' '39.08' '38.63' '38.71' '38.53'
 '38.87' '39.02' '38.56' '38.78' '38.67' '38.76' '38.66' '38.65' '38.59'
 '38.58' '38.72' '38.34' '38.43' '38.47' '38.42' '38.51' '38.48' '38.49'
 '38.45' '39.11' '39.18' '39.15' '39.23' '39.04' '39.24' '39.12' '39.09'
 '39.07' '39.17' '38.74' '38.91' '38.57' '38.5' '38.64' '38.55' '38.39'
 '38.33' '39.14' '38.6' '38.62' '38.52' '38.37' '39.21' '38.61' '38.36'
 '38.29' '38.44' '39.29' '39.19' '38.4' '38.54' '38.46' '39.22' '39.16'
 '38.38' '38.3' '38.24' '38.41' '38.22' '38.31' '38.35' '38.28' '39.26'
 '39.27' '39.32' '38.32' '38.23' '38.27' '39.2' '38.26' '39.34' '38.25'
 '39.25' '39.28' '38.18' '39.31' '39.41' '38.2' '38.19' '38.21' '39.3'
 '38.14']
['23.419' '23.4236' '23.3442' ... '23.1218' '23.023' '22.9735']
['0' '1']
['3/1/2020 0:00' '3/1/2020 0:05' '3/1/2020 0:10' ... '5/11/2020 14:50'
 '5/11/2020 14:55' '5/11/2020 15:05']

In [11]:
df = pd.merge(sensor,sensorhf, how = 'left', on = 'timestamp')
df.shape

(13941, 29)

In [12]:
df = df.dropna()
df.shape

(13678, 29)

In [13]:
df.columns

Index(['Period', 'Cycle', 'B_2', 'B_3', 'B_4', 'B_5', 'B_9', 'B_10', 'B_14',
       'B_15', 'B_16', 'B_17', 'B_18', 'B_19', 'B_20', 'B_21', 'B_22', 'B_23',
       'B_24', 'B_25', 'Class', 'timestamp', 'B_6', 'B_7', 'B_8', 'B_11',
       'B_12', 'B_13', 'Percent'],
      dtype='object')

In [14]:
for col in df:
  df = df[df[col].str.contains("Missing")==False]
  df = df[df[col].str.contains("No Data")==False]
  df = df[df[col].str.contains("start")==False]
  df = df[df[col].str.contains("nan")==False]
  df = df[df[col].str.contains("no connection")==False]
  df = df[df[col].str.contains("Bad")==False]
  df = df[df[col].str.contains("I/O")==False]
  df = df[df[col].str.contains("no response")==False]
  df = df[df[col].str.contains("stop")==False]

In [15]:
df.shape

(13376, 29)

In [16]:
df = df.sort_values(by = ['Percent'])
df

,Period,Cycle,B_2,B_3,B_4,B_5,B_9,B_10,B_14,B_15,...,B_25,Class,timestamp,B_6,B_7,B_8,B_11,B_12,B_13,Percent
11012,81,150,0.0003,0.0005,100,518.67,14.62,21.61,1.3,47.56,...,23.2054,0,4/26/2020 13:15,642.79,1588.82,1412.23,553.2,2388.15,9061.46,54.5
1732,13,52,0.0064,-0.0004,100,518.67,14.62,21.61,1.3,47.52,...,23.267,0,3/10/2020 0:25,642.56,1594.44,1411.13,553.26,2388.1,9055.29,54.5
4822,36,113,-0.0028,-0.0002,100,518.67,14.62,21.61,1.3,47.67,...,23.1288,0,3/25/2020 15:40,643.57,1588.86,1414.55,552.88,2388.16,9059.82,54.5
10148,75,80,0.0014,-0.0002,100,518.67,14.62,21.61,1.3,47.47,...,23.3604,0,4/22/2020 2:45,643.03,1595.21,1408.91,553.14,2388.11,9036.4,54.5
2122,16,60,-0.002,0.0001,100,518.67,14.62,21.61,1.3,47.5,...,23.3153,0,3/11/2020 22:55,642.92,1593.79,1405.9,553.03,2388.1,9056.95,54.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11954,87,43,0,-0.0003,100,518.67,14.62,21.61,1.3,47.48,...,23.29,0,5/1/2020 7:40,642.52,1589.2,1411.32,552.56,2388.12,9064.77,76.75
10083,74,162,-0.0014,-0.0002,100,518.67,14.62,21.61,1.3,48.03,...,23.073,1,4/21/2020 19:45,643.7,1604.64,1430.56,552.33,2388.28,9057.02,76.75
2004,15,105,-0.0002,0.0003,100,518.67,14.62,21.61,1.3,47.41,...,23.385,0,3/11/2020 9:25,642.18,1588.27,1398.2,554.79,2388.02,9058.06,76.75
7836,58,133,-0.0029,-0.0001,100,518.67,14.62,21.61,1.3,47.81,...,23.1794,1,4/10/2020 0:20,643.11,1600.78,1422.72,552.71,2388.26,9059.97,76.75
13869,100,94,-0.0028,-0.0002,100,518.67,14.62,21.61,1.3,47.62,...,23.3167,0,5/11/2020 6:20,642.88,1589.58,1404.38,552.61,2388.11,9058.25,76.75

In [17]:
perref.columns

Index(['Percent Min', 'Percent Max', 'Rotation_SPEED_SETUP', 'rolling_SETUP',
       'Coolant_SETUP', 'Airflow_SETUP', 'UW_SETUP', 'RW_SETUP'],
      dtype='object')

In [18]:
df2 = perref.sort_values(by = ['Percent Min'])
df2 = df2.rename(columns={'Percent Min':'perc_min', 'Percent Max':'perc_max'})

In [19]:
df = df.drop('timestamp',axis = 1)

In [20]:
df

,Period,Cycle,B_2,B_3,B_4,B_5,B_9,B_10,B_14,B_15,...,B_24,B_25,Class,B_6,B_7,B_8,B_11,B_12,B_13,Percent
11012,81,150,0.0003,0.0005,100,518.67,14.62,21.61,1.3,47.56,...,38.78,23.2054,0,642.79,1588.82,1412.23,553.2,2388.15,9061.46,54.5
1732,13,52,0.0064,-0.0004,100,518.67,14.62,21.61,1.3,47.52,...,38.86,23.267,0,642.56,1594.44,1411.13,553.26,2388.1,9055.29,54.5
4822,36,113,-0.0028,-0.0002,100,518.67,14.62,21.61,1.3,47.67,...,38.85,23.1288,0,643.57,1588.86,1414.55,552.88,2388.16,9059.82,54.5
10148,75,80,0.0014,-0.0002,100,518.67,14.62,21.61,1.3,47.47,...,38.88,23.3604,0,643.03,1595.21,1408.91,553.14,2388.11,9036.4,54.5
2122,16,60,-0.002,0.0001,100,518.67,14.62,21.61,1.3,47.5,...,38.89,23.3153,0,642.92,1593.79,1405.9,553.03,2388.1,9056.95,54.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11954,87,43,0,-0.0003,100,518.67,14.62,21.61,1.3,47.48,...,38.86,23.29,0,642.52,1589.2,1411.32,552.56,2388.12,9064.77,76.75
10083,74,162,-0.0014,-0.0002,100,518.67,14.62,21.61,1.3,48.03,...,38.5,23.073,1,643.7,1604.64,1430.56,552.33,2388.28,9057.02,76.75
2004,15,105,-0.0002,0.0003,100,518.67,14.62,21.61,1.3,47.41,...,39,23.385,0,642.18,1588.27,1398.2,554.79,2388.02,9058.06,76.75
7836,58,133,-0.0029,-0.0001,100,518.67,14.62,21.61,1.3,47.81,...,38.62,23.1794,1,643.11,1600.78,1422.72,552.71,2388.26,9059.97,76.75
13869,100,94,-0.0028,-0.0002,100,518.67,14.62,21.61,1.3,47.62,...,38.94,23.3167,0,642.88,1589.58,1404.38,552.61,2388.11,9058.25,76.75

In [21]:
for col in df:
  df[col] = df[col].astype(float)

In [22]:
df.to_csv('clean.csv')
!cp clean.csv

cp: missing destination file operand after 'clean.csv'
Try 'cp --help' for more information.

In [23]:
cleandf = pd.read_csv(r'/content/drive/MyDrive/data/clean.csv')

In [24]:
cleandf

,Period,Cycle,B_2,B_3,B_4,B_5,B_9,B_10,B_14,B_15,...,B_13,Percent,perc_min,perc_max,Rotation_SPEED_SETUP,rolling_SETUP,Coolant_SETUP,Airflow_SETUP,UW_SETUP,RW_SETUP
0,81,150,0.0003,0.0005,100,518.67,14.62,21.61,1.3,47.56,...,9061.46,54.500,54.456584,55.27548,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
1,13,52,0.0064,-0.0004,100,518.67,14.62,21.61,1.3,47.52,...,9055.29,54.500,54.456584,55.27548,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
2,36,113,-0.0028,-0.0002,100,518.67,14.62,21.61,1.3,47.67,...,9059.82,54.500,54.456584,55.27548,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
3,75,80,0.0014,-0.0002,100,518.67,14.62,21.61,1.3,47.47,...,9036.40,54.500,54.456584,55.27548,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
4,16,60,-0.0020,0.0001,100,518.67,14.62,21.61,1.3,47.50,...,9056.95,54.500,54.456584,55.27548,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10879,66,75,0.0018,0.0000,100,518.67,14.62,21.61,1.3,47.54,...,9055.93,75.625,74.928984,75.74788,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10880,53,7,-0.0039,0.0000,100,518.67,14.62,21.61,1.3,47.31,...,9067.56,75.625,74.928984,75.74788,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10881,41,134,-0.0012,0.0000,100,518.67,14.62,21.61,1.3,47.40,...,9076.82,75.625,74.928984,75.74788,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10882,47,12,0.0023,0.0002,100,518.67,14.62,21.61,1.3,47.30,...,9061.05,75.625,74.928984,75.74788,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10883,64,215,-0.0009,0.0004,100,518.67,14.62,21.61,1.3,47.81,...,9077.18,75.625,74.928984,75.74788,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082

In [25]:
cleandf = cleandf.drop('Percent',axis = 1)
cleandf = cleandf.drop('perc_min',axis = 1)
cleandf = cleandf.drop('perc_max',axis = 1)
cleandf = cleandf.drop('Cycle',axis = 1)
cleandf = cleandf.drop('Period',axis = 1)

In [26]:
cleandf

,B_2,B_3,B_4,B_5,B_9,B_10,B_14,B_15,B_16,B_17,...,B_8,B_11,B_12,B_13,Rotation_SPEED_SETUP,rolling_SETUP,Coolant_SETUP,Airflow_SETUP,UW_SETUP,RW_SETUP
0,0.0003,0.0005,100,518.67,14.62,21.61,1.3,47.56,521.04,2388.17,...,1412.23,553.20,2388.15,9061.46,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
1,0.0064,-0.0004,100,518.67,14.62,21.61,1.3,47.52,521.75,2388.12,...,1411.13,553.26,2388.10,9055.29,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
2,-0.0028,-0.0002,100,518.67,14.62,21.61,1.3,47.67,520.64,2388.14,...,1414.55,552.88,2388.16,9059.82,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
3,0.0014,-0.0002,100,518.67,14.62,21.61,1.3,47.47,521.66,2388.13,...,1408.91,553.14,2388.11,9036.40,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
4,-0.0020,0.0001,100,518.67,14.62,21.61,1.3,47.50,521.40,2388.11,...,1405.90,553.03,2388.10,9056.95,5900.00000,-30.000000,30.000000,7.67500,3800.000000,5100.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10879,0.0018,0.0000,100,518.67,14.62,21.61,1.3,47.54,520.67,2388.11,...,1409.56,553.05,2388.14,9055.93,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10880,-0.0039,0.0000,100,518.67,14.62,21.61,1.3,47.31,521.68,2388.05,...,1400.97,553.84,2388.06,9067.56,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10881,-0.0012,0.0000,100,518.67,14.62,21.61,1.3,47.40,521.78,2388.05,...,1404.59,553.80,2387.98,9076.82,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10882,0.0023,0.0002,100,518.67,14.62,21.61,1.3,47.30,522.16,2387.95,...,1404.15,554.83,2387.99,9061.05,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082
10883,-0.0009,0.0004,100,518.67,14.62,21.61,1.3,47.81,520.85,2388.10,...,1414.45,552.99,2388.10,9077.18,5275.08473,-34.967136,31.491333,6.84776,3552.463338,4554.16082

In [27]:
train = cleandf.sample(frac=0.8,random_state=57)
test = cleandf.drop(train.index)

In [28]:
x_train = train.loc[:,train.columns != 'Class']
x_test = test.loc[:,test.columns!= 'Class']
y_train = train.loc[:,'Class']
y_test = test.loc[:,'Class']

In [29]:
logreg = LogisticRegression(max_iter=10000)

In [30]:
logreg.fit(x_train,y_train)

LogisticRegression(max_iter=10000)

In [31]:
logreg.classes_

array([0, 1])

In [32]:
logreg.intercept_

array([-2.82845615e-05])

In [33]:
logreg.coef_

array([[ 4.12914924e-04,  3.80399494e-05, -2.74367194e-03,
        -1.42306032e-02, -4.01124837e-04, -5.73459719e-04,
        -3.56677352e-05,  5.98520935e-01, -1.61699769e+00,
         1.08673157e-01, -8.14798332e-03,  8.33967559e-02,
        -8.23101581e-07,  3.33088766e-01, -6.55188858e-02,
        -2.74367194e-03, -3.58828190e-01, -2.10438525e-01,
         8.83191935e-01,  6.45517637e-02,  1.14931116e-01,
        -1.57968567e+00,  1.22682618e-01,  4.72133117e-02,
        -8.43382456e-05,  2.80821901e-03, -9.98627004e-02,
         8.53201267e-02,  7.54596933e-03, -7.86913923e-03]])

In [34]:
logreg.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0])

In [35]:
logreg.score(x_test,y_test)

0.9526871841984382

In [36]:
confusion_matrix(y_test,logreg.predict(x_test))

array([[1830,   43],
       [  60,  244]])

In [37]:
rf = RandomForestClassifier(n_estimators=10000,random_state=57)

In [38]:
rf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10000, random_state=57)

In [39]:
rfpred = rf.predict(x_test)

In [40]:
rf_acc = accuracy_score(y_test,rfpred)

In [41]:
rf_acc

0.9577400091869546

In [42]:
filename = '/content/drive/MyDrive/data/final_model.sav'

In [43]:
pickle.dump(logreg,open(filename,'wb'))